*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: peru;

}

.container{
    width: 800px;
    background: white;
    margin: auto;
    padding: 10px;
}

.judul{
    font: 36px;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
}

.judul span{
    color: coral;
}

ul li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

ul li a{
    text-decoration: none;
    color: orangered;
    padding: 5px;
    font-size: 16px;
}

ul li a:hover{
    background-color: blue;
    color: white;
}

.banner{
    background-image: url('buku.jpg');
    height: 250px;
    margin-top: 10px;
    background-size: cover;
    border-top: 5px solid peru;
    border-bottom: 5px solid chocolate;
}

h2{font-size: 25px;}
h2, h5, p{
    margin-top: 10px;
}
span{
    color: chocolate;
}

.copy{
    text-align: center;
    background-color: chocolate;
    color: black;
    line-height: 35px;
}